<% extend('layout') %>
<div class="container row ">
    <div class="row headerView">
        <div class="col m12 l12 s12 center">
            <p class="flow-text">Donations</p>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/logo_wings_of_the_ocean.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Wings of the ocean<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Soutenez le premier voilier qui dépollue l’océan, embarque des scientifiques et
                    vous apprend la voile !</p>
                <a class="waves-effect waves-light btn" target="_blank" href="https://www.wingsoftheocean.com/">Voir le
                    site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img id="climates" class="activator" src="../static/img/logo_climates.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Climates<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Un projet qui vise à trouver des solutions innovantes au changement climatique
                    et à sensibiliser et former la jeunesse aux enjeux climatique actuels et à venir</p>
                <a class="waves-effect waves-light btn" href="https://www.weareclimates.org/accueil" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" id="sos" src="../static/img/logo_sos.jpeg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">SOS Faune Sauvage<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">SOS Faunes sauvages: un projet qui a pour but de préserver et sauver la faune
                    sauvages</p>
                <a class="waves-effect waves-light btn" href="http://www.sosfaunesauvage.com/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/work_cleanup_day.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">World Cleanup Day<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">World Cleanup Day: Journée mondiale du nettoyage de notre planète de ses
                    déchets sauvage</p>
                <a class="waves-effect waves-light btn" href="http://wp.worldcleanupday.fr/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/logo_mobicoop.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Mobicoop<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Un projet pour que le covoiturage soit un bien commune</p>
                <a class="waves-effect waves-light btn" href="https://www.mobicoop.fr/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" id="volontaires" src="../static/img/logo_volontaires.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Volontaires pour la Nature<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Promouvoir l’éco-volontariat: des citoyens au service de la biodiversité</p>
                <a class="waves-effect waves-light btn" href="http://www.volontairesnature.org/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/logo_alternatiba.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Alternatiba<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Développer des solutions face aux urgences climatiques et sociales en
                    construisant un mouvement de masse citoyen</p>
                <a class="waves-effect waves-light btn" href="https://alternatiba.eu/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/logo_hop.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Halteobsolescence<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Grâce à HOP: Participez à la promotion de produit durable et à une consommation
                    responsable</p>
                <a class="waves-effect waves-light btn" href="https://www.halteobsolescence.org/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div class="col m6 l4 s1">
        <div data-mh="card-group" class="card">
            <div data-mh="card-img" class="card-image waves-effect waves-block waves-light">
                <img id="canopee" class="activator" src="../static/img/logo_canopee.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Canopée Reforestation<i
                            class="material-icons right">more_vert</i></span>
                <p><a href="#modal1" class="waves-effect modal-trigger waves-light btn">Donner</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Informations supplémentaires<i
                            class="material-icons right">close</i></span>
                <p class="donation-desc">Canopée Reforestation agit pour le reboisement du Nord-Pas de Calais, région la
                    moins boisée de France…</p>
                <a class="waves-effect waves-light btn" href="http://www.canopeereforestation.org/" target="_blank">Voir
                    le site</a>
            </div>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 id="modal-title">Donation effecutée</h4>
            <h3>Merci <%= user.username %> pour votre donation de 500 <img class="feuilleAvatar"
                                                                           src="../static/img/feuille.png"> !</h3>
            <div class="row center">
                <img class="headerImg" src="../static/img/community.png">
            </div>
        </div>
    </div>
</div>