<% extend('layout') %>
<div class="container">
    <div class="row headerView center">
        <span id="historyTitle">Historique</span>
        <img id="historyImg" src="../static/img/history.png">
    </div>
</div>
