<form action='/optimr/itinerary' method='POST'>
    <table>
        <tr>
            <td>Départ</td>
            <td><input type="text" name="departure" ></td>
        </tr>
        <tr>
            <td>Arrivée</td>
            <td><input type="text" name="finish" ></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Chercher" ></td>
        </tr>
    </table>
</form>