<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>Optim'R</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/styles.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <a href="/optimr" class="brand-logo center"><img id="logoImg" src="../static/img/logo.svg"></a>
            <% if (typeof logged !== 'undefined') { %>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="/optimr/profile">Profil</a></li>
                    <li><a href="/optimr/itinerary">Trajets</a></li>
                    <li><a href="/optimr/history">Historique</a></li>
                    <li><a href="/optimr/community">Communauté</a></li>
                    <li><a href="/optimr/donation">Donation</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/optimr/logout"><i class="material-icons left">power_settings_new</i>Se
                            déconnecter</a></li>
                </ul>
            <% } %>
        </div>
    </nav>
</div>
<!--Mobile side nav-->
<% if (typeof logged !== 'undefined') { %>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/optimr/profile">Profil</a></li>
        <li><a href="/optimr/itinerary">Trajets</a></li>
        <li><a href="/optimr/history">Historique</a></li>
        <li><a href="/optimr/community">Communauté</a></li>
        <li><a href="/optimr/donation">Donation</a></li>
        <li><a href="/optimr/logout">Se déconnecter</a></li>
    </ul>
<% } %>

<%- content %>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../static/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/jquery/jquery.matchHeight.js"></script>
<script type="text/javascript" src="../static/js/materialize.min.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>