@font-face {
    font-family: ACalling;
    src: url("../fonts/a_calling.otf") format("opentype");
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
    font-family: "YanoneKaffeesatz", serif;
    background-image: url("../img/background.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

html {
    font-size: 20px !important;
    height: 100%;
}

#logoImg {
    height: 90%;
    margin-top: 5%;
}

nav a {
    color: #4c9249 !important;
}

.sidenav li > a {
    color: #4c9249 !important;
    font-size: 25px;
}

.btn, .btn-large {
    background-color: #4c9249 !important;
    font-size: 20px !important;
}

#loginContainer {
    border-radius: 10px;
    margin-top: 20vh;
    width: 50%;
    border: 2px solid #929292;
}

#loginBtn {
    margin-right: 1%;
}

#signupBtn {
    margin-left: 1%;
}

button {
    font-family: "YanoneKaffeesatz";
}

.buttons {
    margin: 2%;
}

.input-field .prefix.active {
    color: #4c9249;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
    width: 92%;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #4c9249 !important;
    box-shadow: 0 1px 0 0 #4c9249 !important
}

.input-field input:focus + label {
    color: #4c9249 !important;
}

.input-field > label {
    color: #929292;
}

.input-field .prefix {
    color: #929292;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.tabs {
    font-family: 'PT Sans Narrow', sans-serif;
}

.block {
    color: #4c9249;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #929292;
    margin-top: 2%;
}

.headerImg {
    height: 10vh;
    margin-top: 2vh;
}

.headerView {
    color: #4c9249;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #929292;
    margin-top: 5vh;
}

.levelImg {
    width: 20%;
    margin: 2%;
}

#feuilleLogo {
    width: 5%;
    vertical-align: middle;
    margin: 1%;
}

#nbFeuilles {
    font-size: 30px;
}

.yanone {
    font-family: YanoneKaffeesatz;
    color: #929292;
}

#levelBlock {
    position: relative;
}

#levelContent {
    position: absolute;
    top: 15%;
}

.blockBtn {
    margin-bottom: 1%;
}

#welcomeText {
    color: #4c9249;
}

#trajetsTable {
    color: #929292;
}

.avatarFollow {
    margin-top: 3%;
}

.feuilleAvatar {
    width: 2%;
    vertical-align: middle;
    margin: 1%
}

.collection {
    max-height: 40vh;
    overflow-y: scroll;
}

.avatarUsername {
    font-family: YanoneKaffeesatz;
    color: #929292;
}

.donation-desc {
    color: #929292;
}

.card-image {
    position: relative;
    max-width: 100%;
    width: 15vh;
    height: auto;
    /* align-items: normal; */
    margin: auto;
}

#sos {
    top: 5vh;
}

#volontaires {
    top: 5vh;
}

#canopee {
    top: 5vh;
}

#climates {
    top: 5vh;
}

.modal-content {
    color: #4c9249;
}
#modal-title{
    color: #929292;
}