@font-face {
    font-family: ACalling;
    src: url("../fonts/a_calling.otf") format("opentype");
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url("../fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
    font-family: "YanoneKaffeesatz", serif;
    background-image: url("../img/background.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

html {
    font-size: 20px !important;
    height: 100%;
}

#logoImg {
    height: 90%;
    margin-top: 5%;
}

nav a {
    color: #4c9249 !important;
}

.sidenav li > a {
    color: #4c9249 !important;
    font-size: 25px;
}

.btn, .btn-large {
    background-color: #4c9249 !important;
    font-size: 20px !important;
}

#loginContainer {
    border-radius: 10px;
    margin-top: 20vh;
    width: 50%;
    border: 2px solid #929292;
}

#loginBtn {
    margin-right: 1%;
}

#signupBtn {
    margin-left: 1%;
}

button {
    font-family: "YanoneKaffeesatz";
}

.buttons {
    margin: 2%;
}

.input-field .prefix.active {
    color: #4c9249;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
    width: 92%;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #4c9249 !important;
    box-shadow: 0 1px 0 0 #4c9249 !important
}

.input-field input:focus + label {
    color: #4c9249 !important;
}

.input-field > label {
    color: #929292;
}

.input-field .prefix {
    color: #929292;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.tabs {
    font-family: 'PT Sans Narrow', sans-serif;
}

.block {
    color: #4c9249;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #929292;
    margin-top: 2%;
}

.headerImg {
    height: 10vh;
    margin-top: 2vh;
}

.headerView {
    color: #4c9249;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #929292;
    margin-top: 5vh;
}

.levelImg {
    width: 20%;
    margin: 2%;
}

#feuilleLogo {
    width: 5%;
    vertical-align: middle;
    margin: 1%;
}

#nbFeuilles {
    font-size: 30px;
}

.yanone {
    font-family: YanoneKaffeesatz;
    color: #929292;
}

#levelBlock {
    position: relative;
}

#levelContent {
    position: absolute;
    top: 15%;
}

.blockBtn {
    margin-bottom: 1%;
}

#welcomeText {
    color: #4c9249;
}

#trajetsTable {
    color: #929292;
}

#historyList {
    color: #929292;
    font-size: 3vh;
}

.avatarFollow {
    margin-top: 3%;
}

.feuilleAvatar {
    width: 2%;
    vertical-align: middle;
    margin: 1%
}

.collection {
    max-height: 40vh;
    overflow-y: scroll;
}

.avatarUsername {
    font-family: YanoneKaffeesatz;
    color: #929292;
}

.directions li span.arrow {
    display: inline-block;
    min-width: 28px;
    min-height: 28px;
    background-position: 0px;
    position: relative;
    top: 8px;
}

.directions li span.depart {
    background-position: -28px;
}

.directions li span.rightUTurn {
    background-position: -56px;
}

.directions li span.leftUTurn {
    background-position: -84px;
}

.directions li span.rightFork {
    background-position: -112px;
}

.directions li span.leftFork {
    background-position: -140px;
}

.directions li span.rightMerge {
    background-position: -112px;
}

.directions li span.leftMerge {
    background-position: -140px;
}

.directions li span.slightRightTurn {
    background-position: -168px;
}

.directions li span.slightLeftTurn {
    background-position: -196px;
}

.directions li span.rightTurn {
    background-position: -224px;
}

.directions li span.leftTurn {
    background-position: -252px;
}

.directions li span.sharpRightTurn {
    background-position: -280px;
}

.directions li span.sharpLeftTurn {
    background-position: -308px;
}

.directions li span.rightRoundaboutExit1 {
    background-position: -616px;
}

.directions li span.rightRoundaboutExit2 {
    background-position: -644px;
}

.directions li span.rightRoundaboutExit3 {
    background-position: -672px;
}

.directions li span.rightRoundaboutExit4 {
    background-position: -700px;
}

.directions li span.rightRoundaboutPass {
    background-position: -700px;
}

.directions li span.rightRoundaboutExit5 {
    background-position: -728px;
}

.directions li span.rightRoundaboutExit6 {
    background-position: -756px;
}

.directions li span.rightRoundaboutExit7 {
    background-position: -784px;
}

.directions li span.rightRoundaboutExit8 {
    background-position: -812px;
}

.directions li span.rightRoundaboutExit9 {
    background-position: -840px;
}

.directions li span.rightRoundaboutExit10 {
    background-position: -868px;
}

.directions li span.rightRoundaboutExit11 {
    background-position: 896px;
}

.directions li span.rightRoundaboutExit12 {
    background-position: 924px;
}

.directions li span.leftRoundaboutExit1 {
    background-position: -952px;
}

.directions li span.leftRoundaboutExit2 {
    background-position: -980px;
}

.directions li span.leftRoundaboutExit3 {
    background-position: -1008px;
}

.directions li span.leftRoundaboutExit4 {
    background-position: -1036px;
}

.directions li span.leftRoundaboutPass {
    background-position: 1036px;
}

.directions li span.leftRoundaboutExit5 {
    background-position: -1064px;
}

.directions li span.leftRoundaboutExit6 {
    background-position: -1092px;
}

.directions li span.leftRoundaboutExit7 {
    background-position: -1120px;
}

.directions li span.leftRoundaboutExit8 {
    background-position: -1148px;
}

.directions li span.leftRoundaboutExit9 {
    background-position: -1176px;
}

.directions li span.leftRoundaboutExit10 {
    background-position: -1204px;
}

.directions li span.leftRoundaboutExit11 {
    background-position: -1232px;
}

.directions li span.leftRoundaboutExit12 {
    background-position: -1260px;
}

.directions li span.arrive {
    background-position: -1288px;
}

.directions li span.leftRamp {
    background-position: -392px;
}

.directions li span.rightRamp {
    background-position: -420px;
}

.directions li span.leftExit {
    background-position: -448px;
}

.directions li span.rightExit {
    background-position: -476px;
}

.directions li span.ferry {
    background-position: -1316px;
}

.donation-desc {
    color: #929292;
}

.card-image {
    position: relative;
    max-width: 100%;
    width: 15vh;
    height: auto;
    /* align-items: normal; */
    margin: auto;
}

#sos {
    top: 5vh;
}

#volontaires {
    top: 5vh;
}

#canopee {
    top: 5vh;
}

#climates {
    top: 5vh;
}

.modal-content {
    color: #4c9249;
}

#modal-title {
    color: #929292;
}

#itineraryTitle {
    font-size: 5vh;
    vertical-align: middle;
}

#itineraryImg {
    vertical-align: middle;
    margin: 1vh;
}

#historyTitle {
    font-size: 5vh;
    vertical-align: middle;
}

#historyImg {
    vertical-align: middle;
    margin: 1vh;
    height: 5vh;
}

#map {
    height: 85vh;
    margin-top: 5vh;
    border: 3px solid #929292;
    border-radius: 10px;
}

#searchBtn {
    border-radius: 30px;
    top: 2vh;
}

#historyBlock {
    max-height: 60vh;
    overflow-y: scroll;
}

select {
    display: block;
}